/*
version: 1
date: 28/02/2023

Hou alles overzichtelijk
voor elke section zet een space  */

/************************* SECTION *************************/

/* en voor elke sub section zet je een kleine space  */

/********** SUB SECTION **********/

/* werk met variablen AUB */

/* find snel sections met ctrl + f */

/* -- ALGEMENEEN */

/* -- TITLES EN PARAGRAPHS */

/* -- PAGES */

/* -- HOME PAGE */

/************************* ALGEMENEEN *************************/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&display=swap");
@import url("https://fonts.cdnfonts.com/css/nature");
:root {
  --primary: #000000;
  --secondary: #41cb76;
  --black: #000000;
  --white: #ffffff;
  --popins: "Poppins", sans-serif;
  --sans: "Open Sans", sans-serif;
  --nature: "Nature", sans-serif;
}

::selection {
  color: rgb(255, 201, 86);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/********** TITLES EN PARAGRAPHS **********/

h3,
h4,
h5,
h6,
p {
  font-family: var(--popins);
  color: var(--primary);
}

h1,
h2 {
  font-size: 72px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 22px;
}

p {
  font-size: 17px;
}

@media only screen and (max-width: 1024px) {
  h1,
  h2 {
    font-size: 56px;
  }
}

@media only screen and (max-width: 767px) {
}

/************************* PAGES *************************/

/********** HOME PAGE **********/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 767px) {
}

.navbar ul li:hover {
color: #000000;
}

/* Hero section styles */

.home-background {
  background-image: url("../media/images/camping.webp");
  background-position: center center;
  background-size: cover;
  color: #fff;
  padding: 80px 80px 0px 80px;
  text-align: center;
  z-index: 1;
}

.home-background h1 {
  font-size: 60px;
  margin-top: 0;
}

.home-background p {
  font-size: 24px;
  margin-bottom: 30px;
}

.btn {
  background-color: orange;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
}

.home-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 70px 150px;

}

.home-info h2 {
  font-size: 30px;
  margin-top: 0;
}

.card {
  max-width: 960px;
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 28px 20px;
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.impression-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px 150px;
}

.impression-home h2 {
  font-size: 30px;
}

@media (min-width: 576px) {
  .card {
    flex-direction: row;
    align-items: center;
    margin: 40px;
    padding: 32px;
  }
}

.card__image {
  width: 100%;
  max-height: 300px;
  margin-bottom: 18px;
}
@media (min-width: 576px) {
  .card__image {
    width: 45%;
    max-height: none;
    min-height: 400px;
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .card__content {
    width: 55%;
    padding-left: 40px;
  }
}

.card__date {
  display: block;
  text-transform: uppercase;
  margin-bottom: 6px;
}
@media (min-width: 576px) {
  .card__date {
    margin-bottom: 8px;
  }
}

.card__title {
  background-image: linear-gradient(
    90deg,
    var(--color-highlight-primary),
    var(--color-highlight-secondary)
  );
  background-size: 100% 42%;
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 4px;
  margin-left: -4px;
}

.impression-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/********** ADMIN PAGE **********/

.Admin_Page {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.Admin_Subject {
  width: 100%;
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.Admin_Section {
  width: 33%;
  height: 99%;
  background-color: cyan;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.Section_title {
  width: 100%;
  height: 10vh;
}

.Section_QuickAcces {
  width: 100%;
  height: 15vh;
  background-color: crimson;
}

.Section_scroll {
  width: 100%;
  height: 75vh;
  overflow-y: auto;
  background-color: darkslateblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.complaint {
  width: 96%;
  height: 500px;
  background-color: palegreen;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.complaint_data {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}


.complaint_text{
  width: 95%;
  height: 80%;
  border-bottom: solid 1px black;  
}
.complaint_user,
.complaint_weight,
.complaint_date {
  width: 100px;
  display: flex;
  justify-content: flex-start;
}

.complaint_date {
  width: 110px;
}

.complaint_text {
  width: 95%;
  height: 80%;
  background-color: darkcyan;
}
.complaint_buttons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.complaint_buttons button {
  width: 100px;
  height: 30px;
  background-color: rgb(5, 234, 5);
  border: none;
  border-radius: 3px;
}

/************************* INCLUDES *************************/

/********** HEADER **********/

header {
  background-color: transparent;
}

/************************* SCHOONMAAK DASHBOARD *************************/

/********** MAIN UX **********/

.dc-ux-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.dc-ux-wrapped-section {
  width: 100%;
  height: auto;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
}

.dc-ux-block-section {
  width: 25%;
}

.dc-ux-block-div {
  width: fit-content;
}

@media only screen and (max-width: 1200px) {
  .dc-ux-wrapped-section {
    flex-wrap: wrap;
  }
  .dc-ux-block-section {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .dc-ux-block-section {
    width: 100%;
  }
}

/********** HEADER **********/
.navbar ul {
  display: flex;
  padding: 20px;
  list-style-type: none;
}

.navbar ul a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

/********** FOOTER **********/


/********** dashboard **********/

/********** BUTTTONS **********/

.activities li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
}
