/*
version: 1
date: 28/02/2023

Hou alles overzichtelijk
voor elke section zet een space  */

/************************* SECTION *************************/

/* en voor elke sub section zet je een kleine space  */

/********** SUB SECTION **********/

/* werk met variablen AUB */

/* find snel sections met ctrl + f */

/* -- ALGEMENEEN */

/* -- TITLES EN PARAGRAPHS */

/* -- PAGES */

/* -- HOME PAGE */

/* -- login page */

.loginform {
  width: fit-content;
  margin: 150px;
  padding: 25px;
  border: #000000;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: fit-content;
  width: 300px;
  min-height: 300px;
  height: 400px;
  background-color: white;
}

.main_login{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 48px;
  background-image: url("../media/images/camping1.jpg");
  background-position: center center;
  background-size: cover;
}

/************************* ALGEMENEEN *************************/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&display=swap");
@import url("https://fonts.cdnfonts.com/css/nature");
:root {
  --primary: #000000;
  --secondary: #41cb76;
  --black: #000000;
  --white: #ffffff;
  --grey: #f5f5f5;
  --popins: "Poppins", sans-serif;
  --sans: "Open Sans", sans-serif;
  --nature: "Nature", sans-serif;
}

::selection {
  color: rgb(255, 201, 86);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



/********** TITLES EN PARAGRAPHS **********/

.navbar ul li:hover {
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: orange;
}

h3,
h4,
h5,
h6,
p {
  font-family: var(--popins);
  color: var(--primary);
}

h1,
h2 {
  font-size: 72px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 22px;
}

p {
  font-size: 17px;
}

@media only screen and (max-width: 1024px) {
  h1,
  h2 {
    font-size: 56px;
  }
}

@media only screen and (max-width: 767px) {
}

/************************* PAGES *************************/

/********** HOME PAGE **********/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 767px) {
}

.navbar ul li:hover {
  color: #000000;
}
.navbar {
  min-height: 70px;
}

.navbar ul li {
  font-size: 21px;
}

/* Hero section styles */

.home-background {
  background-image: url("../media/images/background-camping.jpeg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  padding: 80px 80px 0px 80px;
  text-align: center;
  z-index: 1;
  min-height: 100vh;
}

.home-background h1 {
  font-size: 70px;
  margin: 30px 0 70px 0;
}

.home-background p {
  font-size: 24px;
  margin-bottom: 300px;
}

.btn {
  background-color: orange;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background-color: darkorange;
}

.home-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 70px 150px;
}

.home-info h2 {
  font-size: 30px;
  margin-top: 0;
}

.impression-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px 150px;
  background-color: #f5fffa;
}

.impression-home h2 {
  font-size: 30px;
}

.impression-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*cards*/

.home-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 50px 50px 50px;
}

.card {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  margin: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  color: white;
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title) {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
    color: white;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

/********** ADMIN PAGE **********/

.Admin_Page {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.Admin_Subject {
  width: 100%;
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.Admin_Section {
  width: 33%;
  height: 99%;
  background-color: cyan;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.Section_title {
  width: 100%;
  height: 10vh;
}

.Section_QuickAcces {
  width: 100%;
  height: 15vh;
  background-color: crimson;
}

.Section_scroll {
  width: 100%;
  height: 75vh;
  overflow-y: auto;
  background-color: darkslateblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.complaint {
  width: 96%;
  height: 500px;
  background-color: palegreen;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.complaint_data {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}

.complaint_data {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}

.complaint_text {
  width: 95%;
  height: 80%;
  border-bottom: solid 1px black;
}

.complaint_user,
.complaint_weight,
.complaint_date {
  width: 100px;
  display: flex;
  justify-content: flex-start;
}

.complaint_date {
  width: 110px;
}

.complaint_text {
  width: 95%;
  height: 80%;
  background-color: darkcyan;
}
.complaint_buttons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.complaint_buttons button {
  width: 100px;
  height: 30px;
  background-color: rgb(5, 234, 5);
  border: none;
  border-radius: 3px;
}

/********** SCHOONMAAK PAGE **********/

.cleaner_Page {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.cleaner_Subject {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.cleaner_cleanerSec {
  width: 33%;
  height: 99%;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.cleanerSec_title {
  width: 100%;
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cleanerSec_QuickAcces {
  width: 100%;
  height: 15vh;
  background-color: rgb(120, 120, 120);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cleanerSec_scroll {
  width: 100%;
  height: 75vh;
  overflow-y: auto;
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.cleanerCom {
  width: 96%;
  height: 500px;
  background-color: var(--grey);
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.cleanerCom_data {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}

.cleanerCom_text {
  width: 95%;
  height: 80%;
  border-bottom: solid 1px black;
}

.cleanerCom_info {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(120, 120, 120);
  justify-content: center;
}

.cleanerCom_info:nth-child(even) {
  background-color: var(--grey);
}
.cleanerCom_buttons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cleanerCom_buttons button {
  width: 100px;
  height: 30px;
  background-color: rgb(5, 234, 5);
  border: none;
  border-radius: 3px;
}

/************************* INCLUDES *************************/

/********** HEADER **********/

header {
  background-color: transparent;
}

/********** FOOTER **********/

.footer-column {
  width: 25%;
  height: auto;
  background-color: red;
}

.footer-section {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  list-style: none;
}

nav li a {
  color: var(--black);
  text-decoration: none;
  transition: 0.2s ease-in;
  text-transform: capitalize;
}

/********** FOOTER BEFORE/AFTER**********/

.footer-column a:hover {
  color: var(--secondary);
  transition: 0.2s ease-in;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 767px) {
}

/************************* SCHOONMAAK DASHBOARD *************************/

/********** MAIN UX **********/

.dc-ux-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.dc-ux-wrapped-section {
  width: 100%;
  height: auto;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
}

.dc-ux-block-section {
  width: 25%;
}

.dc-ux-block-div {
  width: fit-content;
}

@media only screen and (max-width: 1200px) {
  .dc-ux-wrapped-section {
    flex-wrap: wrap;
  }
  .dc-ux-block-section {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .dc-ux-block-section {
    width: 100%;
  }
}

/********** HEADER **********/
.navbar ul {
  display: flex;
  padding: 20px;
  list-style-type: none;
}

.navbar ul a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

/********** FOOTER **********/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px -4px 13px 1px rgba(93, 93, 93, 0.611); 
  box-shadow: 0px -4px 13px 1px rgba(93, 93, 93, 0.611);
}

/********** dashboard **********/

/********** BUTTTONS **********/

.activities li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
}

/********** reserveren.php **********/
.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 48px;
  background-image: url("../media/images/camping.jpg");
  background-position: center center;
  background-size: cover;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background-color: white;
  padding: 40px 60px 60px 60px;
}

.formbold-form-wrapper h2 {
  font-size: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}

.formbold-form-input:focus {
  border-color: darkorange;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: orange;
  color: white;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
.formbold-radio {
  width: 20px;
  height: 20px;
}
.formbold-radio-label {
  font-weight: 500;
  font-size: 16px;
  padding-left: 12px;
  color: #070707;
  padding-right: 20px;
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}

/*about us*/
.about-us-container {
  height: 100vh;
  width: 100%;
  background-image: url("../media/images/background-camping.jpeg");
  background-position: center center;
  background-size: cover;
  padding: 48px;
}

/*vallidationpage*/
.vallidation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../media/images/camping.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.vallidation-container-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background-color: white;
  padding: 60px;
}

.vallidation-container-message p {
  font-size: 18px;
  margin-bottom: 20px;
}


.vallidation-container-message a{
  margin-bottom: 20px;
}